<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
       default-lazy-init="true">

	<import resource="hsql-config.xml" />	

	<bean id="simpleProductSelector" class="edu.depaul.ipd.lwjd.dao.springandhibernate.SimpleProductSelector">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>

	<bean id="callbackProductSelector" class="edu.depaul.ipd.lwjd.dao.springandhibernate.CallbackProductSelector">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>
	<bean id="inheritedProductSelector" class="edu.depaul.ipd.lwjd.dao.springandhibernate.HibernateInheritedProductSelector">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource"><ref bean="dataSource"/></property>
		<property name="mappingResources">
			<value>config/Product.hbm.xml</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="eventListeners">
			<map>
				<entry key="merge">
					<bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener"/>
				</entry>
			</map>
		</property>
	</bean>

</beans>
